<h2><%= @restaurant.name.titleize %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category.titleize %></p>

<% @restaurant.reviews.each do |review| %>
<p><%= review.content %></p>
<hr>
<% end %>

<%= link_to 'add a new review', new_restaurant_review_path(@restaurant) %>
